.button {
	padding: 10px 15px;
	display: grid;
	place-items: center;
	place-content: center;
	background: none;
	border: none;
	border-radius: 10px;
	transition: 0.2s;
	cursor: pointer;
	margin: 0 5px;

	font-weight: 600;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 26px;
}

/* .button:active{
  background: none;
} */

.button[type="white"] {
	background: var(--textPraimary) !important;
	color: var(--bkgPraimary);
}
.button[type="dark"] {
	background: var(--textPraimary) !important;
	color: var(--bkgPraimary);
}
.button[type="orange"] {
	background: var(--MainOrange) !important;
	color: white;
}

@media (min-width: 900px) {
	.button:hover {
		background: var(--bkgSecondary);
		opacity: 0.6;
	}
}
