.ourClients {
	display: flex;
	padding: 0 15%;
	justify-content: center;
	align-items: center;
	gap: 70px;
}
.ourClients > span {
	display: flex;
	gap: 70px;
}
.section2 {
	display: flex;
	flex-direction: column;
}
.section2 > img {
	border-radius: 10px;
	margin-top: 80px;
	margin-bottom: 80px;
}
.section2 > .main {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
.main > article {
	width: 50%;
}
.main > article:first-of-type {
	text-align: end;
	display: flex;
	flex-direction: column;
	padding-right: 100px;
}
.main > article:first-of-type > h2 {
	margin-top: 16px;
	margin-bottom: 24px;
}

.main > article:first-of-type > span {
	margin-top: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}
.main > article:first-of-type > span:hover > img {
	transform: translateX(3px);
}

.main > article:last-of-type {
	text-align: start;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.infoAboutUs {
	display: grid;
	grid-template-columns: 100px 70px 370px;
	grid-template-rows: auto;
	grid-template-areas: "a b c";
	padding: 10px 0;
	align-items: center;
}

.item_a {
	grid-area: a;
}
.item_b {
	grid-area: b;
}
.item_c {
	grid-area: c;
}

.infoAboutUs > .item_b {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0px 40px 0px 24px;

	width: 65px;
	height: 92px;
}

.infoAboutUs > .item_a > h2 {
	position: relative;
}

.infoAboutUs > .item_a > h2::after {
	content: "+";
	width: 12px;
	height: 36px;
	font-family: "Barlow";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	position: absolute;
	color: var(--MainOrange);
}
.infoAboutUs > .item_b > hr {
	width: 1px;
	height: 92px;
	top: 0;
	border-color: rgba(145, 158, 171, 0.24);
}

@media (max-width: 678px) {
	.main {
		flex-direction: column;
	}
	.main > article {
		width: 100%;
		padding: 0 !important;
	}
	.learnMore {
		display: none !important;
	}
	.infoAboutUs {
		grid-template-columns: 100px 60px 1fr;
	}
	.infoAboutUs h2 {
		font-size: 38px;
	}
	.ourClients{
		overflow-x: scroll;
		justify-content: flex-start;
	}
	.ourClients::-webkit-scrollbar{
		display: none;
	}
}
