/* Colors */

/* :root {
	--textPraimary-light: #212b36;
	--textSecondary-light: #637381;
	--MainOrange-light: #fa541c;
	--bkgPraimary-light: #fff;
	--bkgSecondary-light: #f9fafb;

	--textPraimary-dark: #fff;
	--textSecondary-dark: #919eab;
	--MainOrange-dark: #fa541c;
	--bkgPraimary-dark: #161c24;
	--bkgSecondary-dark: rgba(145, 158, 171, 0.12);
}

@media (prefers-color-scheme: dark) {
	:root {
		--textPraimary: var(--textPraimary-dark);
		--textSecondary: var(--textSecondary-dark);
		--MainOrange: var(--MainOrange);
		--bkgPraimary: var(--bkgPraimary-dark);
		--bkgSecondary: var(--bkgSecondary-dark);
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--textPraimary: var(--textPraimary-light);
		--textSecondary: var(--textSecondary-light);
		--MainOrange: var(--MainOrange);
		--bkgPraimary: var(--bkgPraimary-light);
		--bkgSecondary: var(--bkgSecondary-light);
	}
} */

/* ----- */

.first {
	background-color: var(--bkgPraimary);
	height: 100%;
}
.second {
	background-color: var(--bkgSecondary);
	height: 100%;
}
.App {
	text-align: center;
}
