/* Colors */

/* :root {
	--textPraimary-light: #212b36;
	--textSecondary-light: #637381;
	--MainOrange-light: #fa541c;
	--bkgPraimary-light: #fff;
	--bkgSecondary-light: #f9fafb;

	--textPraimary-dark: #fff;
	--textSecondary-dark: #919eab;
	--MainOrange-dark: #fa541c;
	--bkgPraimary-dark: #161c24;
	--bkgSecondary-dark: rgba(145, 158, 171, 0.12);
}

@media (prefers-color-scheme: dark) {
	:root {
		--textPraimary: var(--textPraimary-dark);
		--textSecondary: var(--textSecondary-dark);
		--MainOrange: var(--MainOrange);
		--bkgPraimary: var(--bkgPraimary-dark);
		--bkgSecondary: var(--bkgSecondary-dark);
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--textPraimary: var(--textPraimary-light);
		--textSecondary: var(--textSecondary-light);
		--MainOrange: var(--MainOrange);
		--bkgPraimary: var(--bkgPraimary-light);
		--bkgSecondary: var(--bkgSecondary-light);
	}
} */

/* ----- */


/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 4px;
	margin-right: 10px;
}

::-webkit-scrollbar-track {
  background: #161c24;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fa541c;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(145, 158, 171, 1);
}

/*  */

.container {
	padding: 0 10%;
}
.container-mobile{
	padding: 0 10%;
}
.hide {
	opacity: 0 !important;
	display: none;
	pointer-events: none;
}
.App * {
	letter-spacing: 1px;
	transition: 0.2s;
	text-decoration: none;
}
.App {
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	font-family: "Poppins", sans-serif;
	background: var(--bkgPraimary);
}
.App > section > section{
	padding-top: 180px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.main_text {
	color: var(--textPraimary) !important;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
}
.secondary_text {
	color: var(--textSecondary) !important;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
}
.secondary_small_text {
	color: var(--textSecondary) !important;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
}

.secondary_mid_text {
	color: var(--textSecondary) !important;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
}
.mainColorText {
	color: var(--textPraimary) !important;
}
.OrangeText {
	color: var(--MainOrange) !important;
}

.scrolled {
	background: var(--bkgPraimary) !important;
	box-shadow: 0 8px 24px 0 rgba(52, 53, 57, 0.2);
}

.sections_title {
	display: flex;
	width: 45%;
	flex-direction: column;
	text-align: start;
	align-items: flex-start;
}
.sections_title > h2,
.sections_title > h4,
.sections_title > h5,
.sections_title > h6 {
	margin: 16px 0 24px 0;
}

@media (max-width: 678px) {
	.sections_title {
		width: 100% !important;
		text-align: center !important;
		align-items: center !important;
	}
	.App > section > section{
		padding-top: 120px;
	}	
	.container{
		padding: 0 4%;
	}
	.container-mobile{
		padding: 0;
	}
}
