/* Colors */

/* :root {
	--textPraimary-light: #212b36;
	--textSecondary-light: #637381;
	--MainOrange-light: #fa541c;
	--bkgPraimary-light: #fff;
	--bkgSecondary-light: #f9fafb;

	--textPraimary-dark: #fff;
	--textSecondary-dark: #919eab;
	--MainOrange-dark: #fa541c;
	--bkgPraimary-dark: #161c24;
	--bkgSecondary-dark: rgba(145, 158, 171, 0.12);
}

@media (prefers-color-scheme: dark) {
	:root {
		--textPraimary: var(--textPraimary-dark);
		--textSecondary: var(--textSecondary-dark);
		--MainOrange: var(--MainOrange);
		--bkgPraimary: var(--bkgPraimary-dark);
		--bkgSecondary: var(--bkgSecondary-dark);
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--textPraimary: var(--textPraimary-light);
		--textSecondary: var(--textSecondary-light);
		--MainOrange: var(--MainOrange);
		--bkgPraimary: var(--bkgPraimary-light);
		--bkgSecondary: var(--bkgSecondary-light);
	}
} */

/* ----- */

.container {
	/* width: 80%; */
	padding: 0 10%;
}
.hide {
	opacity: 0 !important;
	display: none;
	pointer-events: none;
}
.App * {
	letter-spacing: 1px;
	transition: 0.2s;
	text-decoration: none;
}
.App {
	text-align: center;
	font-family: "Poppins", sans-serif;
	background: var(--bkgPraimary);
}
.main_text {
	color: var(--textPraimary) !important;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
}
.secondary_text {
	color: var(--textSecondary) !important;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
}
.secondary_mid_text {
	color: var(--textSecondary) !important;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
}
.mainColorText {
	color: var(--textPraimary) !important;
}
.OrangeText{
	color: var(--MainOrange) !important;
}

.scrolled {
	background: var(--bkgPraimary) !important;
}
