.OurWork {
	display: flex;
	flex-direction: column;
	gap: 120px;
	height: fit-content;
	margin: 120px 0;
	flex: none;
	flex-grow: 0;
	justify-content: center;
}

.Wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 24px;
	flex: none;
	flex-grow: 0;
	flex-wrap: wrap;
}

.Wrapper > div {
	flex: none;
	flex-grow: 1;
	gap: 20px;
	display: flex;
	flex-direction: column;
}
.Wrapper > div > span {
	flex-direction: column;
	display: flex;
	gap: 20px;
}
.OurWork > button {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 11px 12px;
	gap: 8px;
	width: 140px;
	height: 48px;
	border-radius: 8px;
	background: none;
	border: none;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 26px;
	align-self: center;
	flex-grow: 1;
	cursor: pointer;
}

@media (min-width: 1200px) {
	.Wrapper > :nth-child(1) {
		height: 229.33px;
		flex-grow: 0;
	}
	.Wrapper > :nth-child(3) {
		height: 229.33px;
		flex-grow: 0;
	}
	.OurWork > button:hover {
		background: #fa531c35;
	}
}
@media (min-width: 678px) {
	.OurWork {
		margin: 160px 0;
	}

	.Wrapper > div > span:first-of-type {
		align-items: flex-end;
	}
	.Wrapper > div > span {
		flex-direction: row;
	}
	.OurWork > button {
		align-self: flex-end;
		display: flex;
	}
}
